<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>isdcontroller.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>isdcontroller.ConnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern> <!-- Adjust URL pattern as needed -->
    </servlet-mapping>  
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>isdcontroller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern> <!-- Adjust URL pattern as needed -->
    </servlet-mapping>   
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>isdcontroller.DeleteStaffServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>FindStaffServlet</servlet-name>
        <servlet-class>isdcontroller.FindStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>isdcontroller.UpdateStaffServlet</servlet-class>
    </servlet>          
</web-app>
