<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>isdcontroller.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>isdcontroller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>isdcontroller.DeleteStaffServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>FindStaffServlet</servlet-name>
        <servlet-class>isdcontroller.FindStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>isdcontroller.UpdateStaffServlet</servlet-class>
    </servlet>        
    
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>/AddStaffServlet</servlet-class>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>FindStaffServlet</servlet-name>
        <url-pattern>/FindStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>     
</web-app>
